body {
  background-color: #0d1c11;
  color: white;
  margin: 10% 10%;
}

.top {
  text-align: center
}
.subheader {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: gray;
}

h1 {
  text-align: center
}
